.voice-avatar {
  position: relative;
  width: 60px;
  height: 60px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.mic-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #586653;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic-icon {
  width: 14px;
  height: 14px;
  fill: #2c2c2c !important;
}